{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Magazin Slunce</title>
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}"/>
</head>
<body>
    <header class="header">
        <div class="header-home">
            <div class="header-logo">
                <a href="{% url 'index' %}"><img class="header-img" src="{% static 'images/contrast.png' %}" alt="sun"></a>
            </div>
        </div>
        <nav class="navigation">

            <ul role="list">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'basket' %}">
                            <img class="basket-img"
                                    src="{% static 'images/shopping-basket.png' %}"
                                    alt="basket">
                        </a>
                    </li>
                    <li class="navigation-btn"><a href="{% url 'catalogue' %}">CATALOGUE</a></li>
                    <li class="navigation-btn"><a href="{% url 'details user' pk=request.user.pk %}">PROFILE</a></li>
                    <li class="navigation-btn"><a href="{% url 'logout user' %}">LOG OUT</a></li>

                {% else %}
                    <li class="navigation-btn"><a href="{% url 'register user' %}">REGISTER</a></li>
                    <li class="navigation-btn"><a href="{% url 'login user' %}">LOG IN</a></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li class="navigation-btn"><a href="/admin">STAFF</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    {% block page_content %}

    {% endblock %}

    <footer>
        <div>
            &copy;Magazin Slunce. All rights reserved.
        </div>
    </footer>
</body>
</html>
