{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<section id="detailsPage">
    <div class="wrapper">
        {% if user.profile_picture %}
            <div class="profilePage">
                <img src="{{ user.profile_picture.url }}"
                     alt="Profile Image">
            </div>
        {% else %}
            <div class="profilePage">
                <img src="{% static 'images/blank-profile-picture-973460_1280.jpeg' %}"
                     alt="Profile Image">
            </div>
        {% endif %}
        <div class="profileText">
            <h1>Username: {{ user.username }}</h1>
            <h1>Email: {{ user.email }}</h1>
            {% if fullname %}
                <h1>Name: {{ fullname }}</h1>
            {% endif %}
            {% if products_liked %}
                <h1>Total products liked: {{ products_liked }} </h1>
            {% endif %}
        </div>
        <div class="actionBtn">
            <a href="{% url 'edit user' pk=request.user.pk %}" class="remove">Edit</a>
            <a href="{% url 'liked products'%}" class="remove">Liked products</a>
        </div>
        <div class="actionBtnDelete">
            <a href="{% url 'delete user' pk=request.user.pk %}">Delete</a>
        </div>
    </div>
</section>
{% endblock %}