{% extends 'base/base.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}
    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
            </div>
            <div class="music-img">
                <img src="{% static 'images/contrast.png' %}" alt="music-icon">
            </div>
        </section>
        <section id="registerPage">
            <form method="post" enctype="multipart/form-data" action="{% url 'edit user' pk=request.user.pk %}">
                {% csrf_token %}
                <fieldset>
                    <legend>EDIT</legend>
                    {{ form.username.errors }}
                    <label for="username">Username:{{ form.username|placeholder:'Username ' }}</label>
                    {{ form.first_name.errors }}
                    <label for="First name">First name:{{ form.first_name|placeholder:'First name ' }}</label>
                    {{ form.last_name.errors }}
                    <label for="Last name">Last name:{{ form.last_name|placeholder:'Last Name ' }}</label>
                    {{ form.email.errors }}
                    <label for="Email">Email:{{ form.email|placeholder:'Email ' }}</label>
                    {{ form.profile_picture.errors }}
                    <label for="Profile Picture">Profile Picture:{{ form.profile_picture|placeholder:'Profile picture ' }}</label>

                    <button type="submit" class="register">Enter</button>
                </fieldset>
            </form>
        </section>
    </div>
{% endblock %}

