{% extends 'base/base.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}
    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
            </div>
            <div class="music-img">
                <img src="{% static 'images/contrast.png' %}" alt="music-icon">
            </div>
        </section>
        <section id="registerPage">
            <fieldset>
                <legend>Profile</legend>
                <form method="post" action="{% url 'login user' %}">
                    {% csrf_token %}
                    <label for="username">Username:{{ form.username|placeholder:'Username ' }}</label>
                    {{ form.password1.errors }}
                    <label for="username">Password:{{ form.password|placeholder:'Password ' }}</label>
                    {% if form.errors %}
                        <li>Your username and password didn't match. Please try again.</li>
                    {% endif %}
                    <button type="submit" class="register">Enter</button>
                    <h3>Don't have an account?</h3>
                    <a class="register" href="{% url 'register user' %}">Click here!</a>
                </form>
            </fieldset>
        </section>
    </div>
{% endblock %}