{% load placeholders %}
{% include 'base/base.html' %}
{% block page_content %}
    <section id="detailsPage">
        <div class="Productwrapper">
            <div class="albumCover">
                <img src="{{ product.Image.url }}" alt="Product Image">
            </div>
            <div class="albumInfo">
                <div class="albumText">
                    <h1 class="albumText">Name: {{ object.name }}</h1>
                    <h1 class="albumText">Type: {{ object.type }}</h1>
                    <h1 class="albumText">Rating: {{ product_rating }} of 5.00</h1>
                    <h1 class="albumText">Likes: {{ product_likes }}</h1>
                    <h1 class="albumText">Price: {{ object.price|floatformat:2 }}BNG</h1>
                    {% if object.description %}
                        <p class="albumText">Description: {{ object.description }}</p>
                    {% endif %}
                </div>
                <div class="actionBtn">
                    {% if user_liked_product %}
                        <a href="{% url 'like product' pk=product.pk %}" class="edit">Dislike</a>
                    {% else %}
                        <a href="{% url 'like product' pk=product.pk %}" class="actionBtnDelete">Like</a>
                    {% endif %}
                    <a href="{% url 'add product to basket' pk=product.pk %}" class="remove">Add to cart</a>
                    <a href="{% url 'product comments' pk=product.pk %}">Comments</a>

                </div>
                {% if not user_rated_product %}
                    <div class="albumText">
                        <form class="actionBtn align-content-start" method="post"
                              action="{% url 'rate product' pk=product.pk %}">
                            <label>
                                {{ rate_form.rating|placeholder:'Rate 0-5' }}
                                <button type="submit" class="register">Rate product</button>
                            </label>
                            {% csrf_token %}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}