{% extends 'base/base.html' %}

{% block page_content %}
    <section id="BasketPage">
        {% if products %}
            <div id="CheckoutWrapper">
                <div class="checkout-top">
                    <h2 class="total">TOTAL COST: <span class="text-white">{{ total_sum|floatformat:2 }}BGN</span></h2>
                    <div id="checkout-btn" class="btn-group">
                        <a href="{% url 'order' %}">ORDER</a>
                    </div>
                </div>

                <ul class="checkout-products" role="list">
                    <div class="grid-naming">
                        <h3 class="left">NAME:</h3>
                        <h3 class="right">QUANTITY:</h3>
                    </div>
                    {% for obj in user_basket %}
                        <li class="product">
                            <div class="product-name">
                                <p class="name">{{ obj.product.name }}</p>
                            </div>
                            <div id="product-actions" class="actionBtn">
                                <a class="actionBtnDelete"
                                   href="{% url 'delete product from basket' pk=obj.product.pk %}">Cancel</a>
                                <a class="actionBtn" href="{% url 'subtract from basket' pk=obj.product.pk %}">-</a>
                                <a class="actionBtn" href="{% url 'add product to basket' pk=obj.product.pk %}">+</a>
                            </div>
                                <p class="product-quantity">{{ obj.quantity }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% for object in products %}
{#                TODO : FIX THIS#}
                <div class="card-box">
                    <img class="ProductImg" src="{{ object.Image.url }}" alt="profile picture">
                    <div>
                        <div class="text-center ">
                            <p class="name">Name: {{ object.name }}</p>
                            <p class="price">Price: {{ object.price|floatformat:2 }}BGN</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'details product' pk=object.pk %}">Details</a>
                            <a href="{% url 'delete product from basket' pk=object.pk %}">Cancel</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="commentText">No Products in Basket!</p>
        {% endif %}
    </section>
{% endblock %}
